<nav>
	<div class="row h-10 border-bottom align-items-center">
		<div class="col-2">
			<img src="img/google.png" class="logo" />
		</div>
		<div class="col-3">
			<input type="text" class="form-control" />
		</div>
		<div class="col">
			<button class="btn btn-primary">Search</button>
		</div>
	</div>
</nav>

<!-- Problemas con el padding del DIV..deberia ir alienado con el logo. Corregir despues -->
<div class="cuerpo-results">
	<p class="small py-2">37 Results</p>
	<p class="small">www.w3school.com</p>
	<p class="h2">
		<a href="https://www.w3schools.com/js/" class="link-primary"
			>JavaScript Tutorial - W3Schools</a
		>
	</p>
	<p>
		Well organized and easy to understand Web bulding tutorial with lots of
		examples of how to use HTML, CSS, JS, SQL, PHP, Phython, Bootstrap, Java
	</p>
	<ul>
		<li>
			<a href="www.emol.com" class="link-primary"
				>JavaScript Introduction</a
			>
		</li>
		<li><a href="www.emol.com" class="link-primary">JS Function</a></li>
		<li>
			<a href="www.emol.com" class="link-primary">JavaScript Examples</a>
		</li>
	</ul>
	<p class="small">developer.mozilla.or</p>
	<p class="h2">
		<a href="https://www.w3schools.com/js/" class="link-primary"
			>JavaScript | MDN</a
		>
	</p>
	<p>
		JavaScript (JS) is lightweight, interpreted, or just-in-time compiled
		programming language with first-class functions. While it is most
		well-known as the scripting language for Web Page. CouchDB and Adobe
		Acrobat
	</p>
	<ul>
		<li>
			<a href="www.emol.com" class="link-primary">JavaScript Operator</a>
		</li>
		<li><a href="www.emol.com" class="link-primary">JavaScript Code</a></li>
		<li>
			<a href="www.emol.com" class="link-primary">JavaScript Meaning</a>
		</li>
	</ul>
	<p class="small">en.wikipedia.org</p>
	<p class="h2">
		<a href="https://www.w3schools.com/js/" class="link-primary"
			>JavaScript Tutorial - W3Schools</a
		>
	</p>
	<p>
		JavaScript often abbreviated as JS, is a programming language that
		comforms to the ECMAScript specification. JavaScript is high-level,
		often just-in-time
	</p>
	<ul>
		<li><a href="www.emol.com">JavaScript Online</a></li>
		<li><a href="www.emol.com">JavaScript Definition</a></li>
	</ul>
</div>
