<div class="text-center py-5">
	<img src="img/google.png" />
</div>
<form class="text-center" action="/results" method='post'>
	<div class="row justify-content-center pb-4">
		<div class="col-4">
			<div class="input-group">
				<input type="text" class="form-control" name="search" />
			</div>
		</div>
	</div>

	<div class="">
		<button class="btn btn-primary">Search</button>
	</div>
</form>
